html {
    overflow-y:scroll;
}
body {
    min-width: 660px;
    font-family: "Bookman Old Style",
    "Serifa BT",
    "URW Bookman L",
    "itc bookman",
    times,
    serif;
    padding: 0;
    margin: 0;
}
h1,h2,h3 {
    font-family: Helvetica, Verdana, sans-serif;
}
a {
    text-decoration: underline;
}
a :hover {
    cursor: pointer;
    text-decoration: underline;
}
pre code {
    clear: both;
    display: block;
    padding: 8px;
    margin-bottom: 2em;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
}
ul {
    list-style-type: square;
}
img {
    border: none;
    display: block;
}
p.caption {
    font-size: 14px;
    text-align: center;
    color: rgb(100, 100, 100);
}
#rect {
    width: 300px;
    height:150px;
    background-color:#000000;
    margin: 2em auto;
}

#content {
    text-align: justify;
}

ul, p, h1, h2, .tags, pre, #disqus_thread {
    clear: both;
    width: 600px;
    margin: 0 auto;
}

ul, p, h2, .tags, #disqus_thread {
    color: #444;
}

.tags {
    margin-bottom: 1em;
}

p {
    margin-bottom: 0.6em;
}

h2,ul {
    margin-top: 0.8em;
    margin-bottom: 1em;
}

img {
    clear: both;
    margin: 0 auto;
    padding-bottom: 0.5em;
}

#info {
    font-size: 60%;
    width: 600px;
    margin: 0 auto;
}
#MathJax_Message {
    display:none!important;
}
