html {
    overflow-y:scroll;
}
body {
    min-width: 660px;
    font-family: "Bookman Old Style",
    "Serifa BT",
    "URW Bookman L",
    "itc bookman",
    times,
    serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
h1,h2 {
    font-family: Helvetica, Verdana, sans-serif;
}
a {
    text-decoration: underline;
}
a :hover {
    cursor: pointer;
    text-decoration: underline;
}
pre code {
    clear: both;
    display: block;
    padding: 8px;
    margin-bottom: 2em;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
}
ul {
    list-style-type: square;
}
img {
    border: none;
    display: block;
    margin: 0 auto;
}
p.caption {
    font-size: 14px;
    text-align: center;
    color: rgb(100, 100, 100);
}
#rect {
    width: 600px;
    height:100px;
    background-color:#000000;
    margin: 2em auto;
}
#content {
    clear: both;
    width: 600px;
    margin: 0 auto;
}
#info {
    font-size: 60%;
    width: 600px;
    margin: 0 auto;
}
#MathJax_Message {
    display:none!important;
}
